@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --subtle-color: #888888;
    --subtle-bg-color: #efefef;
    --invert-value: 1;
    --accent-color: #000000;
    --vh: 1vh;
}

.dark-theme {
    --bg-color: #000000;
    --text-color: #ffffff;
    --subtle-color: #888888;
    --subtle-bg-color: #efefef;
    --invert-value: 0;
    --accent-color: #ffffff;
    --vh: 1vh;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    font-family: "IBM Plex Mono", monospace;
    margin: 0 auto;
    max-width: 800px;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    position: relative;
    flex-shrink: 0;
    margin: 0;
    padding: 2rem;
    color: var(--text-color);
    overflow: hidden;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/banner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(0.53333) invert(var(--invert-value, 0));
    z-index: -1;
}

#header-content {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header-title {
    font-size: 2.9rem;
    margin: 0;

    color: var(--text-color);
}

#logo {
    filter: invert(var(--invert-value, 0));
    width: 50px;
    height: 50px;
}

nav {
    margin-top: 0.5rem;
}

nav a {
    background: var(--accent-color);
    color: var(--bg-color);
    text-decoration: none;
    padding: 0.2rem 0.5rem;
    margin-right: 0.5rem;
    font-size: 0.9rem;
    display: inline-block;
}

nav a:hover {
    background: var(--text-color);
    color: var(--bg-color);
}

main {
    flex: 1;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

footer {
    flex-shrink: 0;
    text-align: center;
    font-size: 0.8rem;
    color: var(--subtle-color);
    margin-bottom: 0.5rem;
}

footer a {
    color: var(--accent-color);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer button {
    color: var(--subtle-color);
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
    padding: 0;
    display: inline;
    line-height: 1;
    vertical-align: baseline;
    text-decoration: none;
}

footer button:hover {
    text-decoration: underline;
}

footer button .light,
footer button .dark {
    color: var(--subtle-color);
}

footer button .active {
    color: var(--text-color);
}

.bio {
    color: var(--subtle-color);
    margin-right: 0.5rem;
    font-size: 0.9rem;
    font-style: italic;
}

.post-header {
    font-size: 0.9rem;
    color: var(--text-color);
    margin-bottom: 1rem;
}

.post-header::before {
    content: "#";
    color: var(--subtle-color);
    margin-right: 0.5rem;
}

.post-list {
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    padding: 0;
    margin-left: 1rem;
}

.post-item {
    margin-bottom: 1rem;
}

.post-item span {
    color: var(--subtle-color);
    font-size: 0.9rem;
}

.post-item a {
    color: var(--accent-color);
    text-decoration: none;
    font-size: 0.9rem;
}

.post-item a:hover {
    text-decoration: underline;
}
