/* Custom styling */
body {
    background-color: black;
    color: white;
    font-family: monospace; /* Updated to monospace */
    text-align: center;
    margin: 0px;
}
html {
    height: 100%;
}
.banner {
    width: 100%;
    max-height: 500px;
    display: inline-block;
}
.banner img {
    object-fit: cover; /* Adjusted for banner */
    display: inline-block;
    width: 100%;
    max-height: 500px;
}
.links {
    margin-bottom: 10px;
}
.links a {
    color: #d9d9d9;
    text-decoration: none;
    transition: all .5s ease-out;
}
.links a:hover {
    color: #e74000;
    filter: blur(0.74px);
}
.footer {
    height: 90px;
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.footer img {
    max-height: 30px;
    margin-top: 8px;
    margin-bottom: 8px;
}
