<!DOCTYPE html>
<html lang="en">
    <head>
        {{ template "head" . }}
        <link rel="stylesheet" href="/css/post.css">
    </head>
    <body>
        {{ template "header" . }}

        <main>
            <article>
                {{ .Page.Body }}
            </article>
        </main>

        {{ template "footer" . }}
    </body>
</html>
