<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="description" content="net's blog">
    <meta name="keywords" content="net, e74net, e74000, programming, physics, personal blog">
    <meta name="author" content="net">
    
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@e74net">
    <meta name="twitter:title" content="net">
    <meta name="twitter:description" content="net's blog">
    <meta name="twitter:image" content="https://e74000.net/x-card.png">

    <link rel="alternate" type="application/rss+xml" title="net's blog rss" href="https://e74000.net/rss.xml">
    
    <link rel="icon" href="/favicon.png" type="image/png">
    <title>net</title>

    <link rel="stylesheet" href="/styles.css">
    <script src="/theme-init.js"></script>
</head>
<body>
<header>
    <div id="header-content">
        <img id="logo" src="/logo.svg" alt="site logo">
        <h1 class="header-title">net</h1>
    </div>
    <nav>
        <a href="/">home</a>
        <a href="/about">about</a>
        <a href="/posts">posts</a>
        <a href="/photos">photos</a>
    </nav>
</header>
<main>
    <p class="bio">net ? (the machine-angel (designated for (ritual) procausal industrialist narrative))</p>
    <p class="post-header">featured posts</p>
    <ul class="post-list">
        <li class="post-item">
          <span> 2024-12-08 </span><a class="post-item" href="/posts/about-this-website/"> about this website </a>
        </li>
        <li class="post-item">
          <span> 2025-01-02 </span><a class="post-item" href="/posts/my-stack/"> my stack </a>
        </li>

        <li class="post-item">
          <span> 2024-12-07 </span><a class="post-item" href="/posts/shape-rotation/"> shape rotation </a>
        </li>

        <li class="post-item">
          <span> 2024-12-06 </span><a class="post-item" href="/posts/relativistic-asteroids/"> asteroids </a>
        </li>
    </ul>
</main>
<footer>
    <p>&copy; e74net; built with <a href="https://github.com/e74000/shizuka">shizuka</a>; <button id="theme-toggle"><span class="light">l</span>/<span class="dark">d</span></button></p>
</footer>
<script src="/theme-toggle.js"></script>
</body>
</html>
